{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt="banniere">
        </div>
        <p class="mt-3">
        <h3>Administration du site MediaTek86 consacré aux formations en ligne</h3>
        </p>
        <p>
        <!-- menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.index') }}">Administration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.formation.index') }}">Formations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.playlists.index') }}">Playlists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}">Retour à l'application</a>
                    </li>
                </ul>
            </div>
        </nav>
        {{ include('flashbags.html.twig') }}
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><i>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </i></small></p>
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}